body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #282c34;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1, h2, h3 {
    margin: 0;
    padding: 10px 0;
}

section {
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.code-snippet {
    background-color: #282c34;
    color: #61dafb;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.code-snippet h4 {
    color: #add8e6; /* Light blue */
}

pre {
    margin: 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #282c34;
    color: white;
    margin-top: 20px;
}
